header {
    background-image: url('/assets/img/Rectangle\ 9.svg');
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 999px;
    top: -3px;
    z-index: -2;

    .navbar {
        z-index: -1;
        justify-content: center;
        text-decoration: none;
        font-style: none;
        list-style: none;

        .navbar_ul {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;

            .baslangicul {

                
                display: flex;
                justify-items: flex-start;
                font-size: 20px;
                margin-left: 200px;
                gap: 10%;
                align-items: center;

                li {

                    a {
                        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        text-decoration: none;
                        color: rgb(206, 202, 202);
                    }
                    img{
                        align-items: center;
                    }
                }
            }
            .sonul{
                a{
                color: white;
                justify-content: center;
                margin-right: 40px;
            }
                }
            }
        }
    

    .header {
        margin-top: 200px;
        align-items: center;
        display: flex;
        flex-direction: column;



        h1 {
            
            width: 680px;
            text-align: center;
            color: white;
            font-size: 69px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-style:normal;
            


        }

        h4 {
            width: 650px;
            text-align: center;
            color: rgb(193, 180, 180);
            font-family: 'Graphik';
            font-style: normal;
            font-size: 28px;
        }

        .btn1 {
            margin-top: 200px;
            height: 52px;
            width: 236px;
            font-size: 25px;
            background: #2091F9;
            border-radius: 35px;
             
            text-align: center;
            align-items: center;
            border: 0;
            color: white;
        }
    }


}