.organize{
    margin-top: 700px;
    width: 1777px;
    width: 924px;
    .content{
        width: 1243px;
        height: 472px;
        .frame{
            
            margin-left: 300px;
            width: 30%;
            h2{
                font-size: 44px;                
            }
            h4{
                margin-top: 30px;
                font-size: 20px;
                letter-spacing: 1px;
            }
        }
     .btn1{
        width: 140px;
        height: 40px;
        background: #2091F9;
        color: white;
        border-radius: 20px;
        border: 1px;
        margin-top: 60px;
     }
     .imigi{
        margin-top: -320px;
        margin-left: 600px;
     }
    }
}